
@{
    ViewBag.Title = "Beneficios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beneficios</h2>
<p>La utilizacion tanto de los web services como de los WCF provee de muchos beneficios a las empresas en la actualidad, partiendo del hecho de que permiten la extraccion y manipulacion de la informacion brindada por miles de paginas web, la utilizacion de los mismos abre una gran cantidad de puertas a las empresas para utilizar dicha informacion para sus propios objetivos establecidos. Los mayores beneficios de la utilizacion de tanto APIs como WCFs se pueden resumir en los siguientes: </p>
<h3>Web Services</h3>
<ul>
    <li>
        <p>
            La automatizacion de procesos mediante el uso de web services en las empresas genera una gran cantidad de beneficios,
            si por ejemplo se genera un sistema que permita la extraccion de informacion de un web service
            con la finalidad de aplicarla para el beneficio de otros proyectos
            (como un sistema que realice un chequeo automatico diario de los estados financieros)
            se produce un gran valor agregado y flexibilidad para los encargados de llevar a cabo nuevos proyectos,
            debido a que la automatizacion de un proceso les permite prescindir de los recursos humanos que se disponian
            para el mismo. Se puede decir que la aplicacion de la automatizacion de procesos basada en APIs
            ahorra una gran cantidad de tiempo y recursos y aumenta la productividad de una empresa en general,
            la cual es bastante cotizada en el mercado actual y se deben perseguir las mejores practicas
            que permitan el mejor manejo posible de recursos y el orden de la informacion.
        </p>
    </li>
    <li>
        <p>
            La disponibilidad de informacion que brindan los web services, genera una mejora en los procedimientos
            de adquisicion de informacion estrategica para muchas empresas, el simple hecho de poder extraer
            informacion clave sin tener que sacar un permiso de forma presencial le permite a las empresas agilizar
            y priorizar otros puntos clave de sus objetivos. Esto sumado al hecho de que la obtencion de dicha
            informacion puede ser realizada en cualquier momento y dispositivo, con una gran velocidad le permite
            a las empresas disponer de dicha informacion de manera confiable y eficaz en cualquier momento que lo requiera.
        </p>
    </li>
    <li>
        <p>
            La facilidad de proveer informacion mediante un API permite entregar al usuario final una
            experiencia mas fluida en general, debido a que se puede distribuir informacion de manera automatica
            para cualquier dispositivo en pocos segundos. Ademas, se abre una gran cantidad de puertas en el
            ambito de la personalizacion del servicio.
        </p>
    </li>
</ul>
<h3>WCFs</h3>
<ul>
    <li>
        <p>
            El punto clave de la funcionalidad de los WCF y sus beneficios esta basado en la capacidad de interoperabilidad
            que esto brinda a las empresas, se puede decir que no es suficiente el hecho de trabajar en base solamente en
            web services, ya que en algun punto, la diferenciacion entre protocolos de intercambio de informacion genera barreras
            que pueden ser superadas mediante la implementacion de un WCF. En pocas palabras, se puede decir que un beneficio de la
            utilizacion de WCFs consiste en la escalabilidad que esto nos brinda y en la flexibilidad que aporta para poder trabajar con
            diferentes servicios y clientes sin importar los protocolos de intercambio de informacion y su aplicacion.
        </p>
    </li>
    <li>
        <p>Se puede argumentar que uno de los beneficios del WCF sobre otras estructuras de comunicacion de end points consiste en la gran cantidad de protocolos que soporta (HTTP,TCP,Pipes y MSMQ). Esto permite mejorar la flexibilidad de la estructuracion de ambientes de intercambio de informacion, ya que mediante este framework se puede combinar la informacion final recibidad de diferentes endponts sin importar si ambos poseen estructuras o protocolos de transporte diferentes y mejoran la escalabilidad de los sistemas en los que se implemente. </p>
    </li>

</ul>