
@{
    ViewBag.Title = "Beneficios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beneficios</h2>
<p>La utilizacion tanto de los web services como de los WCF provee de muchos beneficios a las empresas en la actualidad, partiendo del hecho de que permiten la extraccion y manipulacion de la informacion brindada por miles de paginas web, la utilizacion de los mismos abre una gran cantidad de puertas a las empresas para utilizar dicha informacion para sus propios objetivos establecidos. Los mayores beneficios de la utilizacion de tanto APIs como WCFs se pueden resumir en los siguientes: </p>
<h3>Web Services</h3>
<ul>
    <li>
        <p>
            La automatización de procesos mediante el uso de web services en las empresas genera una gran cantidad de beneficios,
            si por ejemplo se genera un sistema que permita la extracción de información de un web service
            con la finalidad de aplicarla para el beneficio de otros proyectos
            (como un sistema que realice un chequeo automático diario de los estados financieros)
            se produce un gran valor agregado y flexibilidad para los encargados de llevar a cabo nuevos proyectos,
            debido a que la automatización de un proceso les permite prescindir de los recursos humanos que se disponían
            para el mismo. Se puede decir que la aplicación de la automatización de procesos basada en APIs
            ahorra una gran cantidad de tiempo y recursos y aumenta la productividad de una empresa en general,
            la cual es bastante cotizada en el mercado actual y se deben perseguir las mejores prácticas
            que permitan el mejor manejo posible de recursos y el orden de la información.
        </p>
    </li>
    <li>
        <p>
            La disponibilidad de información que brindan los web services, genera una mejora en los procedimientos
            de adquisición de información estratégica para muchas empresas, el simple hecho de poder extraer
            información clave sin tener que sacar un permiso de forma presencial le permite a las empresas agilizar
            y priorizar otros puntos clave de sus objetivos. Esto sumado al hecho de que la obtención de dicha
            información puede ser realizada en cualquier momento y dispositivo, con una gran velocidad le permite
            a las empresas disponer de dicha información de manera confiable y eficaz en cualquier momento que lo requiera.
        </p>
    </li>
    <li>
        <p>
            La facilidad de proveer información mediante un API permite entregar al usuario final una
            experiencia mas fluida en general, debido a que se puede distribuir información de manera automática
            para cualquier dispositivo en pocos segundos. Además, se abre una gran cantidad de puertas en el
            ámbito de la personalización del servicio.
        </p>
    </li>
</ul>
<h3>WCFs</h3>
<ul>
    <li>
        <p>
            El punto clave de la funcionalidad de los WCF y sus beneficios esta basado en la capacidad de interoperabilidad
            que esto brinda a las empresas, se puede decir que no es suficiente el hecho de trabajar en base solamente en
            web services, ya que en algun punto, la diferenciación entre protocolos de intercambio de información genera barreras
            que pueden ser superadas mediante la implementación de un WCF. En pocas palabras, se puede decir que un beneficio de la
            utilización de WCFs consiste en la escalabilidad que esto nos brinda y en la flexibilidad que aporta para poder trabajar con
            diferentes servicios y clientes sin importar los protocolos de intercambio de información y su aplicación.
        </p>
    </li>
    <li>
        <p>Se puede argumentar que uno de los beneficios del WCF sobre otras estructuras de comunicación de end points consiste en la gran cantidad de protocolos que soporta (HTTP,TCP,Pipes y MSMQ). Esto permite mejorar la flexibilidad de la estructuración de ambientes de intercambio de información, ya que mediante este framework se puede combinar la información final recibidad de diferentes endpoints sin importar si ambos poseen estructuras o protocolos de transporte diferentes y mejoran la escalabilidad de los sistemas en los que se implemente. </p>
    </li>

</ul>