
@{
    ViewBag.Title = "Informacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacion</h2>

<p>El web service de Rest countries provee información de distintos países del mundo con respecto a su  nombre, códigos ISO de país, códigos de llamada, lenguajes, gentilicio, población, países con los que limita, área,
    región  y subregión a la que pertenece el país, su tipo de moneda, bandera, ciudad capital, entre otros.</p>
<p>
    El web service pone a disposción distintos métodos para realizar la búsqueda de información de países, como por ejemplo búsqueda por nombre parcial, búsqueda por nombre completo, búsqueda por código de país ISO
    3166-1 de una letra y dos letras, por tipo de moneda, por lenguaje usando el código ISO de dos letras como entrada, por ciudad capital, por código de llamada,  por región y por bloque regional.
</p>
